/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/*
/vendor
.env
.env.backup
.env.local
.env.production
.env.testing
.env.development
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.git/
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.bak
*.swp
*.swo
.dockerignore
/docker/mysql/data
*.log
*.sqlite
.htaccess
/storage