.form-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50px;
}

.search-form__item {
    width: 30%;
}

.search-form__item-input {
    background: #FBFBFB;
    height: 100%;
    padding: 3px 20px;
    width: 100%;
    font-family: 'Inika';
    color: #BEB1A6;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #E0DFDE;
}


.select__gender,
.select__category,
.select__date {
    position: relative;

}

.form-control {
    height: 100%;
    width: 100%;
    background: #F4F4F4;
    border: none;
    padding: 0 20px;
    appearance: none;
    font-family: 'Inika';
    color: #8B7969;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #E0DFDE;
}

.select__gender::after,
.select__category::after,
.select__date::after {
    content: '▼';
    width: 17.22px;
    height: 20px;
    color: #E0DFDE;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.select__category {
    width: 19%;
}

.select__date {
    width: 14%;
}

.search-button,
.reset-button {
    width: 10%;
}

button {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.search-button__submit {
    border: 1px solid #8B7969;
    background: #8B7969;
    color: #FFFFFF;
}

.reset-button__reset {
    border: 1px solid #D9C6B5;
    background: #D9C6B5;
    color: #FFFFFF;
}

.export-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.export-pagination__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.export-button {
    padding: 8px 20px;
    background: rgba(225, 219, 214, 0.6);
    color: #8B7969;
    border: none;
}

div[role="status"] {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: #8B7969;
    border: 1px solid #E0DFDE;
    background: #FFFFFF;
    transition: 0.3s;
    font-family: 'Inika';
    width: 32px;
    height: 31px;
    font-weight: 400;
}

.pagination li.active a {
    background: #8B7969;
    color: #FFFFFF;
}

.result-content {
    display: flex;
    justify-content: center;
}

.result-table {
    width: 80%;
    border: 1px solid #E0DFDE;
    font-size: 20px;
}

table {
    width: 100%;
}

.result-table__row:first-of-type {
    background: #8B7969;
}

.result-table__item:first-of-type {
    padding-left: 40px;
}

.result-table__item:last-of-type {
    padding-right: 40px;
}

.result-table__item {
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
    padding: 20px 0;
}

.result-table__item-content:first-of-type {
    padding-left: 40px;
}

.result-table__item-content:last-of-type {
    padding-right: 40px;
}

.result-table__item-content {
    padding: 20px 0;
    background: #FFFFFF;
    font-weight: 400;
    border-bottom: 1px solid #E0DFDE;
    text-align: left;
}

.detail-form {
    text-align: right;
}

.button-info {
    border: 1px solid rgba(217, 198, 181, 0.6);
    background: rgba(244, 244, 244, 0.3);
    color: #D9C6B5;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
    font-family: 'Inika';
    width: 70%;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8B7969;
}

.modal-header {
    text-align: right;
    padding: 20px;
}

.close {
    border-radius: 100px;
    border: 1px solid #8B7969;
    color: #8B7969;
    background: #FFFFFF;
    font-family: 'Inika';
    font-size: 30px;
    font-weight: 400;
    width: 40px;

}

.modal-body {
    padding: 20px 50px;
    text-align: left;
}

.modal-table__item {
    padding-bottom: 35px;
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    color: #8B7969;

}

.model-table__item-content {
    padding-bottom: 35px;
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
}

.delete-button {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.delete-button__submit {
    width: 76px;
    padding: 8px 20px;
    background-color: #BA370D;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
